.App {
    margin: 100px auto;
    width: 1000px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 7px 20px 0 rgba(90, 77, 77, 0.3);
    position: relative;
    border-radius: 10px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* above code aligns the whole web application with measured value and gives a shadow the outline of the page */
  .close-btn {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 1.5rem;
    z-index: 1;
    color: #fff;
    cursor: pointer;
  } 
  /*above code places the close sign in the page and sets its colour*/
  .App {
    background: linear-gradient(
      90deg,
      rgb(38, 38, 38) 50%,
      rgb(38, 38, 38) 900%
    );
    border-radius: 10px 0 0 10px;
    position: relative;
  }
/*above sets the background colour of the application*/
  /* the page alignments and WxL */
  .App   {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* colours for the texts */
  .App h1 {
    margin-bottom: 1rem;
    color: #fff;
  }

  .form {
    margin-bottom: 0.5rem;
    width: 50%;
  }
  
 /*validation warning set to red*/
  .form warning {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
  }
  .App-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #fff;
  }
  /* all the labels are set white e.g email: */
  .form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
  }
  /* above code is the inputfield size */
  /*user input field set to grey*/
  .App-input::placeholder {
    color: #595959;
    font-size: 12px;
  }
  /*sign up button set to green and placed in the web page*/
  .form-input-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(32, 177, 32) 0%,
      rgb(73, 131, 26) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  /*sign up button roll over is set to green*/
  .form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(2, 70, 32) 0%,
      rgb(4, 109, 50) 100%
    );
    transition: all 0.4s ease-out;
  }

  .form-input-login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
  } 
/* login button name is set to white */
  .form-input-login a {
    text-decoration: none;
    color: hsl(98, 96%, 38%);
    font-weight:550;
  }
  /*above is the "a" tag inside the span is set to green font colour */
  .form-label {
    color: #fff;
  }
  /* the labels for login page is set to white (white font colour) */
  .form-span {
    color: #fff;
  }
/* the span for "login here" sentence is set to white */
.form-loggedin {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}
/* the texts are set to white in the logged in page */
.loggedin {
  background: linear-gradient(
    90deg,
    rgb(38, 38, 38) 50%,
      rgb(38, 38, 38) 900%
  );
  border-radius: 10px 0 0 10px;
  position: relative;
}
/* above sets the background of the logged in page */
.loggedin {
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 7px 20px 0 rgba(90, 77, 77, 0.3);
  position: relative;
  border-radius: 10px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* above sets the page alignments for logged in page */